*{
    margin: 0;
    padding: 0;
}
#dabba{
    margin-top: 2px;
    padding: 5px;
    border: 0.5px solid rgb(219, 217, 217);
}
#dabba1,#dabba2{
   display: flex;
   flex-direction: column;
   padding: 5px;
   margin: 5px;
   cursor: pointer;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 10px;
}
#dabba1:hover{
    color: rgb(0, 162, 255);
}
#search{
    width: 300px;
    height: 20px;
    padding: 5px;
    margin:5px 5px 10px 80px;
    background-image: url(/Images/search.svg);
    background-repeat: no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}
#cog,#bell,#profile{
    float: right;
    margin: 8px;
}
#cog,#bell{
    width: 25px;
    margin-right: 10px;
    margin-top: 13px;
}